@media screen and (max-width:420px) {
    .src {
        width: 400px;
    }
    .logosa {
        margin: 0;
    }
    .chamo {
        width: 400px;
        display: inline-block;
    }
    .chamo1 {
        display: block;
    }
    .chamo2 {
        margin:0;
        display: block;
    }
    .chamo2 {
        display: flex;
    }
    .chamo2 li {
        display: inline-block;
        padding: 0;
        padding-left: 1ch;
        color: black;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sera {
        margin: 0;
        display: inline-block;
        margin-left: 0cm;
    }
    .tyemali1 {
        display: inline-block;
    }
    .tyemali2 {
        display: inline-block;
    }
    .tyemali3 {
        display: inline-block;
    }
    .tyemali4 {
        display: inline-block;
    }
    .tyemali1 ::after {
        content: "";
        position: absolute;
        background-color: #DC143C;
        height: 0px;
        width: 0px;
        bottom: -10px;
        margin-left: -2cm;
        transition: 0.5s;
    }
    .chamo2 :hover {
        text-shadow: 0 0 0px red;
        color: black;
    }
    .tyemali1 :hover:after {
        width: 0px;
        box-shadow: 0 0 0px red;
    }
    .tyemali2 ::after {
        content: "";
        position: absolute;
        background-color: #DC143C;
        height: 0px;
        width: 0px;
        bottom: -10px;
        margin-left: -2cm;
        transition: 0s;
    }
    .tyemali2 :hover:after {
        width: 0px;
        box-shadow: 0 0 0px red;
    }
    .tyemali3 ::after {
        content: "";
        position: absolute;
        background-color: #DC143C;
        height: 0px;
        width: 0px;
        bottom: 0px;
        margin-left: 0cm;
        transition: 0s;
    }
    .tyemali3 :hover:after {
        width: 119px;
        box-shadow: 0 0 0px red;
    }
    .tyemali4 ::after {
        content: "";
        position: absolute;
        background-color: #DC143C;
        height: 0px;
        width: 0px;
        bottom: 0px;
        margin-left: 0cm;
        transition: 0s;
    }
    .tyemali4 :hover:after {
        width: 0px;
        box-shadow: 0 0 0px red;
    }
    .sara {
        width: 290px;
        margin-left: 1.5ch;
        margin-top: 2ch;
    }
    .notika {
        display: inline-block;
        width: 40px;
    }
    .but1 {
        display: none;
    }
    .apartamenta {
        width: 320px;
        margin-left: 0.1ch;
        top: 1.5ch;
    }
    .warwera {
        width: 200px;
        height: 130px;
        top: 7.5cm;
    }
    .teqsti {
        font-size: 20px;
        left: 25%;
    }
    .teqsti1 {
        font-size: 20px;
        margin-top: 4ch;
        margin-left: 1.3ch;
    }
    .teqsti2 {
        font-size: 9px;
        margin-left: 2ch;
    }
    .teqsti3 {
        font-size: 9px;
        margin-left: 2ch;
    }
    .gilakebi {
        margin-top: 0.5cm;
        margin-left: 2cm;
    }
    .yidva {
        font-size: 16.7px;
    }
    .gayidva {
        font-size: 16.7px;
    }
    .gaqiraveba {
        font-size: 16.7px;
    }
    .monacemta {
        top: 14.4cm;
        height: 70px;
        width: 400px;
        left: 0.6ch;
    }
    .citisa {
        font-size: 10px;
    }
    #city {
        font-size: 10px;
        left: 1.3ch;
        top: 4ch;
    }
    .apartament {
        font-size: 10px;
        margin-left: 6ch;
    }
    #apartamneta {
        font-size: 10px;
        left: 16ch;
        top: 6.6ch;
    }
    .price {
        font-size: 10px;
        margin-left: 4ch;
    }
    #Price {
        font-size: 10px;
        left: 34.5ch;
        top: 7ch;
    }
    #filter {
        display: none;
    }
    .gilaka {
        left: 43ch;
        font-size: 10px;
        top: 4ch;
    }
    .ndoma {
        font-size: 20px;
        margin-top: 5cm;
    }
    .ndoma1 {
        font-size: 20px;
    }
    .ndoma2 {
        font-size: 10px;
        margin-top: 1ch;
    }   
    .select-portions {
        display: block;
        margin-left: 0ch;
    }
    .select-portions div {
        padding-left: 3ch;
        align-items: center;
        padding-top: 2ch;
    }
    .chamo2 li {
        padding-left: 1.4ch;
    }
    .dilianad {
        padding-left: 2ch;
    }
    .dilianad1 {
        padding-left: 1.4ch;
    }
    .dilianad2 {
        padding-left: 2.2ch;
    }
    .dilianad3 {
        padding-left: 2.7ch;
        padding-top: 0.9ch;
    }
    .qinqla {
        font-size: 20px;
        border-radius: 40px;
    }
    .apartamnet-satauri {
        font-size: 20px;
        text-align: left;
        margin-left: 2.8cm;
    }
    .feachure-apartament-text {
        margin-left: 0cm;
        width: 380px;
    }
    .apartament-satauri2 {
        text-align: left;
        font-size: 13px;
        margin-left: 9.9ch;
    }
    .yvela-undaiyosaq {
        height: 2000px;
        margin-left: 0cm;
        width: 400px;
    }
    .yvela-undaiyosaq div {
        display: block;
    }
    .sami-ertnairi {
        margin-left: 0.8ch;
    }
}


@media screen and (max-width:390px) {
    .yidva {
        font-size: 15.1px;
    }
    .gayidva {
        font-size: 15.1px;
    }
    .gaqiraveba {
        font-size: 15.1px;
    }
    .src {
        width: 370px;
    }
    .sara {
        width: 280px;
    }
    .apartamenta {
        width: 290px;
    }
    .warwera {
        top: 7.1cm;
    }
    .monacemta {
        width: 367px;
        top: 14cm;
    }
    .gilaka {
        font-size: 8px;
        left: 52ch;
        top: 5ch;
    }
    .sami-ertnairi {
        width: 360px;
        margin-left: 1ch;
    }
    .apartamentisa-londona {
        width: 311px;
    }
    .bridge {
        margin-right: 5cm;
    }
    .larwkava {
        width: 310px;
    }
    .larwkava1 {
        width: 310px;
    }
    .yvela-undaiyosaq {
        width: 370px;
    }
    .qinqla {
        font-size: 14px;
        margin-left: 0.2ch;
    }
    .chamo {
        width: 370px;
    }
    .dilianad {
        padding-left: 1.8ch;
    }
    .dilianad1 {
        padding-left: 0.9ch;
    }
    .dilianad3 {
        padding-left: 2.5ch;
    }
    .dilianad2 {
        padding-left: 1.8ch;
    }
    .apartamnet-satauri {
        margin-left: 2.5cm;
    }
    .apartament-satauri2 {
        margin-left: 8ch;
    }
    .notifi {
        width: 78px;
    }
    .feachure-apartament-text {
        width: 360px;
    }
    .select-portions div {
        padding-left: 1ch;
    }
    .chamo2 a :nth-child(1) {
        padding-left: 0.8ch;
    }
}


@media screen and (max-width: 400px) {
    .src {
        width: 390px;
    }
    .chamo2 li {
        padding-left: 1ch;
    }
    .sara {
        width: 280px;
        margin-left: 1.3ch;
    }
    .apartamenta {
        width: 300px;
    }
    .warwera {
        top: 7.4cm;
    }
    .yidva {
        font-size: 15.9px;
    }
    .gayidva {
        font-size: 15.9px;
    }
    .gaqiraveba {
        font-size: 15.9px;
    }
    .monacemta {
        width: 380px;
    }
    .gilaka {
        left: 42ch;
    }
    .dilianad {
        padding-left: 1.1ch;
    }
    .dilianad1 {
        padding-left: 0.3ch;
    }
    .dilianad2 {
        padding-left: 1ch;
    }
    .dilianad3 {
        padding-left: 1.5ch;
    }
    .sami-ertnairi {
        width: 370px;
        margin-left: 1.6ch;
    }
    .apartamentisa-londona {
        width: 323px;
    }
    .bridge {
        margin-right: 5cm;
    }
    .larwkava {
        width: 323px;
    }
    .larwkava1 {
        width: 323px;
    }
    .yvela-undaiyosaq {
        width: 390px;
    }
    .chamo {
        width: 390px;
    }
}
