@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
}
* a {
    color: black;
}
.logosa {
    display: inline-block;
    vertical-align: top;
    margin: 3ch 0 0 12ch;
}
.chamo {
    display: inline-block;
}
.chamo1 {
    display: inline-block;
}
.chamo2 li {
    display: inline-block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 4ch;
    font-size: 25px;
    transition: 0.5s;
}
.chamo2 {
    position: relative;
    vertical-align: top;
    margin-top: 6ch;
    margin-left: 3cm;
}
.tyemali1 ::after {
    content: "";
    position: absolute;
    background-color: #DC143C;
    height: 3px;
    width: 0px;
    bottom: -10px;
    margin-left: -2cm;
    transition: 0.5s;
}
.chamo2 :hover {
    color: #0066CC;
    text-shadow: 0 0 2px red;
}
.tyemali1 :hover:after {
    width: 83px;
    box-shadow: 0 0 3px red;
}
.tyemali2 ::after {
    content: "";
    position: absolute;
    background-color: #DC143C;
    height: 3px;
    width: 0px;
    bottom: -10px;
    margin-left: -2cm;
    transition: 0.5s;
}
.tyemali2 :hover:after {
    width: 83px;
    box-shadow: 0 0 3px red;
}
.tyemali3 ::after {
    content: "";
    position: absolute;
    background-color: #DC143C;
    height: 3px;
    width: 0px;
    bottom: -10px;
    margin-left: -2.9cm;
    transition: 0.5s;
}
.tyemali3 :hover:after {
    width: 119px;
    box-shadow: 0 0 3px red;
}
.tyemali4 ::after {
    content: "";
    position: absolute;
    background-color: #DC143C;
    height: 3px;
    width: 0px;
    bottom: -10px;
    margin-left: -2.5cm;
    transition: 0.5s;
}
.tyemali4 :hover:after {
    width: 105px;
    box-shadow: 0 0 3px red;
}
.sera {
    display: inline-block;
    margin-left: 10cm;
}
.sara {
    border-radius: 17px;
    height: 45px;
    width: 150px;
    border-style: dashed;
    padding-left: 10px;
    margin-top: 4px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
}
.sear {
    width: 20px;
}
.sera ::placeholder {
    color: black;
    font-weight: 600;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.notika {
    display: inline-block;
    vertical-align: middle;
}
.notika :hover {
    cursor: pointer;
}
.notika :active {
    width:90px;
    margin-left: 0.1ch;
    margin-right: 0.2ch;
    margin-bottom: 1px;
}
.but {
    display: inline-block;
}
.but1 {
    padding: 7px 30px 10px 27px;
    border-style: none;
    border-radius: 25px;
    background-color: #0066CC;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    transition: 0.1s;
}
.but :hover {
    cursor: pointer;
}
.but :active {
    font-size: 19px;
    padding-left: 28px;
    margin-left: 0.7px;
    margin-bottom: 2px;
}
.apartamenta {
    left: 2cm;
    top: 1.3cm;
    border-radius: 20px;
    width: 1400px;
    position: relative;
}
.apartamenta ::hover {
    cursor: pointer;
}
.warwera {
    position: absolute;
    background-color: white;
    width: 700px;
    height: 400px;
    top: 8.3cm;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 0.1px solid rgb(151, 151, 151);
    border-bottom: 0.1px solid rgb(151, 151, 151);
    border-right: 0.1px solid rgb(151, 151, 151);
}
.teqsti {
    position: absolute;
    transform: translate(-50%);
    top: 15%;
    left: 32%;
    font-size: 100px;
    color: #0066CC;
}
.teqsti1 {
    margin-top: 4cm;
    margin-left: 1cm;
    font-size: 100px;
    color:#0066CC;
}
.teqsti2 {
    margin-top: 3ch;
    margin-left: 1cm;
    font-size: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(66, 66, 66);
}
.teqsti3 {
    font-size: 24px;
    margin-top: 0.3ch;
    margin-left: 1cm;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(66, 66, 66);
}
.gilakebi {
    float: left;
    margin-top: 17cm;
    margin-left: 1cm;
}
.yidva {
    display: inline-block;
    padding: 1ch 4ch 1.3ch 4ch;
    border-radius: 50px;
    color: rgb(109, 109, 109);
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
    background-color: white;
}
.gayidva {
    display: inline-block;
    padding: 1ch 4ch 1.3ch 4ch;
    border-radius: 50px;
    color: rgb(109, 109, 109);
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    transition: 0.5s;     
    background-color: white;
}
.gaqiraveba {
    display: inline-block;
    padding: 1ch 3.7ch 1.3ch 3.7ch;
    border-radius: 50px;
    color: rgb(109, 109, 109);
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
    transition: 0.5s;
    background-color: white;
}
.gilakebi :hover {
    background-color: #0066CC;
    color: white;
    cursor: pointer;
}
.monac :hover {
    background-color: white;
    color: black;
}
.monacemta {
    background-color: white;
    padding-top: 1.5ch;
    padding-bottom: 1.5ch;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1200px;
    height: 105px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 22cm;
    left: 1cm;
}
#city {
    border-style: none;
    color: #4169E1;
    font-size: 25px;
    margin-top: 15px;
    position: absolute;
    left: 20px;
    top: 1cm;   
}
.citisa {
    padding-left: 2ch;
    font-size: 23px;
}
.apartament {
    margin: 0 0 0 2cm;
    font-size: 23px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 470;
}
#apartamneta {
    position: absolute;
    top: 1.4cm;
    left: 5.5cm;
    border-style: none;
    font-size: 22px;
    color: #4169E1;
}
.price {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0 0 0 1cm;
}
#Price {
    position: absolute;
    left: 11.2cm;
    top: 1.3cm;
    border-style: none;
    font-size: 20px;
    color: #4169E1;
}
.monacemta :hover {
    cursor: pointer;
}
#filter {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    border-style: none;
    position: absolute;
    top: 0.9cm;
    left: 19cm;
}
.gilaka {
    position: absolute;
    top: 0.7cm;
    left: 24cm;
    padding: 1.3ch 6.4ch 1.3ch 6ch;
    margin-left: 1cm;
    border-style: none;
    background-color: #0066CC;
    border-radius: 20px;
    color: white; 
    font-family: sans-serif;
    font-size: 20px;
    transition: all 0.25s ease-in-out;
}
.mevenaxe {
    margin-top: 4cm;
}
.ndoma {
    text-align: center;
    font-size: 60px;
    color: #000080;
}
.ndoma1 {
    text-align: center;
    color:#0066CC;
    font-size: 47px;
}
.ndoma2 {
    color: gray;
    text-align: center;
    font-size: 24px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1cm;
}
.select-portions {
    display: flex;
    align-items: center;
    margin-top: 1cm;
    margin-left: 4ch;
    
}
.select-portions :hover {
    cursor: pointer;
    transform: scale(1.01);
    
}
.select-portions div {
    padding-left: 2.4cm;
    transition: 0.5s;
}
.continiu-partions {
    text-align: center;
    margin-top: 1cm;
}
.qinqla {
    border-style: none;
    font-size: 30px;
    background-color:#4169E1;
    color: white;
    padding: 25px 150px 22px 150px;
    border-radius: 9px;
}
.continiu-partions :hover {
    cursor: pointer;
}
.continiu-partions :active {
    transform: scale(1.010);
}
.feachure {
    margin-top: 3cm;
}
.feachure-apartament-text {
    text-align: center;
    width: 1200px;
    height: 100px;
    margin-left: 44ch;
}
.apartamnet-satauri {
    font-size: 40px;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.apartament-satauri2 {
    font-size: 20px;
    color: gray;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1ch;
}
.yvela-undaiyosaq {
    background-color: white;
    width: 1800px;
    height: 700px;
    margin-left: 1.5cm;
    margin-top: 1cm;
    transition: 0.2s;
}
.sami-ertnairi {
    width: 400px;
    height: 500px;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    margin: 2cm 0 0 3.7cm;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.apartamentisa-londona {
    width: 350px;
    padding: 0;
    border-radius: 10px;
    margin-left: 2.9ch;
    margin-top: 3ch;
}
.larwkava {
    width: 350px;
    padding: 0;
    border-radius: 10px;
    margin-left: 2.9ch;
    margin-top: 3ch;
}
.larwkava1 {
    width: 350px;
    height: 235px;
    padding: 0;
    border-radius: 10px;
    margin-left: 2.9ch;
    margin-top: 3ch;
}
.loca {
    width: 30px;
    margin-left: 2.2ch;
    margin-top: 1ch;
    display: inline-block;
}
.bridge {
    display: inline-block;
    color: gray;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: 10px;
    font-size: 17px;
    margin-right: 6cm;
}
.euro {
    display: inline-block;
    width: 23px;
    margin: 1ch 0 0 2.4ch;
}
.raodenoba {
    display: inline-block;
    color:#0066CC;
    vertical-align: 3px;
    font-size: 23px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aparta-kide {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1ch 0 0 1.8ch;
    font-size: 25px;
}
.aparta-warwera {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1ch 0 0 2.8ch;
    font-size: 15px;
}
.aparta-warwera2 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0ch 0 0 2.8ch;
    font-size: 15px;
}
.bridge1 {
    display: inline-block;
    color: gray;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: 10px;
    font-size: 17px;
    margin-right: 4.7cm;
}
.euro1 {
    width: 23px;
    margin: 1ch 0 0 2.4ch;
    display: inline-block;
}
.raodenoba1 {
    display: inline-block;
    color:#0066CC;
    vertical-align: 3px;
    font-size: 23px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
